* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  background-color: #bac89c;
  padding: 0.75rem;
}

nav {
  background-color: #6667ab;
  display: flex;
  justify-content: end;
}

nav li {
  display: inline;
  margin: 1rem;
}

nav li a {
  text-decoration: none;
  color: floralwhite;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h2 {
  color: #6667ab;
  padding: 0.75rem;
  text-align: right;
}

/*about me section*/
#aboutme {
  display: flex;
  align-items: center;
  border: black solid 2px;
}

#aboutme h2 {
    flex-grow: 1 1 10vw;
}

#aboutme .container {
  border-left: #6667ab solid 3px;
  margin: 1rem 5rem 1rem 0;
  flex-grow: 3;
}

#aboutme .container p {
  padding-left: 2rem;
}

/*My work section */
#work {
  display: flex;
  align-items: center;
  border: red solid 2px;
}

#work .container {
  padding-left: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  border-left: #6667ab solid 3px;
  margin: 1rem 5rem 1rem 0;
}

#work .container .project {
    border: #bac89c solid 2px;
    flex-grow: 1;
    flex-shrink: 2;
    display: flex;
}

#work .container #heroproject {
    flex-grow: 2;
    flex-shrink: 1;
    display: flex;
}

#work .container img {
    width: 100%;
}

/* Contact me section */
#contactme {
  display: flex;
  align-items: center;
  border: green solid 2px;
}

#contactme .container {
  border-left: #6667ab solid 3px;
  margin: 1rem 5rem 1rem 0;
}

#contactme ul {
  display: flex;
  border: yellow solid 3px;
  }

#contactme li {
  padding: 0.75rem;
}

#contactme li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

footer {
  background-color: #6667ab;
  color: floralwhite;
  text-align: right;
  padding: 0.75rem;
}

/* Medium screens */
@media all and (max-width: 800px) {
  h1 {
      text-align: center;
  }  
  nav {
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  h1 {
      text-align: center;
  }  
  nav {
    flex-direction: column;
  }
  main {
      flex-direction: column wrap;
  }
}