:root {
  --main: #6667ab;
  --accent: #bac89c;
  --light: #fffaf0;
}

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: 100vw;
}

body {
  background-color: var(--light);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

header {
  background-color: var(--accent);
  padding: 0.75rem;
  flex-grow: 1;
}

nav {
  background-color: var(--main);
  display: flex;
  justify-content: end;
}

nav li {
  display: inline;
  margin: 1rem;
}

nav li a {
  text-decoration: none;
  color: var(--light);
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

h1 {
  font-size: 45px;
}

h2 {
  color: var(--main);
  padding: 0.75rem;
  text-align: right;
  font-size: 30px;
  flex: 0 0 20%;
}

h3 {
  font-size: 14px;
}

section {
  display: flex;
  align-items: center;
}

.container {
  border-left: var(--main) solid 4px;
  margin: 1rem 5rem 1rem 0;
  padding-left: 2rem;
  display: flex;
  flex-grow: 1;
}

/* About me section */
#aboutme .container {
  flex-flow: column;
  align-items: center;
}

#aboutme img {
  max-width: 300px;
  border: var(--accent) solid 0.5rem;
  border-radius: 20%;
  flex-shrink: 1;
}

/* My work section */
#work .container {
  flex-grow: 1;
  flex-flow: row wrap;
  justify-content: center;
}

#work .container .project {
  border: var(--accent) solid 2px;
}

#heroproject {
  flex: 1 1 70%;
}

#work .container .project {
  max-width: 300px;
}

#work .container img {
  width: 100%;
}

/* Contact me section */
#contactme .container {
  flex-grow: 1;
}

#contactme ul {
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  justify-content: space-around;
 }

#contactme li {
  padding: 0.125rem 0.75rem;
  margin: 0.375rem 0rem;
  border-bottom: var(--main) solid 0.125rem;
}

#contactme li a {
  text-decoration: none;
  color: var(--main);
  font-weight: bold;
}

footer {
  background-color: var(--main);
  color: var(--light);
  padding: 0.75rem;
  display: flex;
  justify-content: end;
}

/* Media querys for responsive design */

/*Medium screens */
@media all and (max-width: 1000px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 0.5rem;
  }

  h1,
  h2 {
    text-align: center;
  }

  h2 {
    margin: 0;
    padding: 0.75rem 2rem 0.5rem 2rem;
  }

  main,
  #aboutme,
  #work,
  #contactme,
  #contactme .container {
    flex-flow: column wrap;
  }

  .container {
    border-left: 0;
    padding-left: 0;
    margin: 0.25rem 1.5rem 1.5rem 1.5rem;
    position: relative;
  }

  .container:before {
    content: "";
    position: absolute;
    left: 2rem;
    top: -0.75rem;
    height: 1rem;
    width: 90%;
    border-bottom: var(--main) solid 4px;
  }

  section img {
    margin: 1.5rem;
  }

  #contactme ul {
    align-items: center;
  }

  #contactme li {
    margin: 1rem;
  }

  footer {
    justify-content: center;
  }
}

/* Small screens */
@media all and (max-width: 300px) {
  nav li {
    margin: 0.25rem;
  }
}
