* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header {
    background-color: #bac89c;
    padding: .75em;
}

nav {
    background-color: #6667AB;
    padding: .75em;
    display: flex;
    justify-content: end;
}

nav li {
    display: inline;
    margin: 1em;
}

nav li a {
    text-decoration: none;
    color: floralwhite;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
}

/*I think i dont want to float, but something else here */
h2 {
    float: left;
    position: relative;
    background-color: #bac89c;
    padding: .75em;
}


/*about me section*/

#aboutme {
    flex-flow: column wrap;
}


/*My work section */

#mywork {
    flex: 0 0 25%;
    flex-direction: row wrap;
}

.project img {
    width: 100%;
    min-width: 100px;
    max-width: 300px;
}


/* Contact me section */

#contactme {
    display: flex;
    align-items: center;
}

#contactme li {
    display: inline;
    margin: 0 auto;
}
#contactme li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    }

footer {
    background-color: #6667AB;
    color: floralwhite;
    text-align: right;
    padding: .75em;
}